body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #262525;
}

h1 {
  color: #f4f4f4;
}

p {
  color: #f4f4f4;
}
.container {
  display: flex;
  flex-direction: column;   
  align-items: center;      
  justify-content: center;  
  margin-top: 50px;
  gap: 15px;                
}

select, input, button {
  height: 60px;
  width: 400px;  
  box-sizing: border-box;
  padding: 8px;
  text-align: center;
}
