body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #262525;
}

h1 {
  color: #f4f4f4;
}

p {
  color: #f4f4f4;
}
.container {
  display: flex;
  flex-direction: column;   /* stacks items vertically */
  align-items: center;      /* centers horizontally */
  justify-content: center;  /* optional vertical centering */
  margin-top: 50px;
  gap: 15px;                /* spacing between elements */
}

select, input, button {
  width: 200px;             /* makes them uniform */
  text-align: center;
}
